<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>???? | ???? | ???? | okabot live stock view</title>
</head>
<body>
    <h1 class="title" id="title">okabot live stock view</h1>
    <div class="stocks">
        <div class="stock neko">
            <h3>NEKO</h3>
            <h4 id="neko-price">0</h4>
        </div>
        <div class="stock dogy">
            <h3>DOGY</h3>
            <h4 id="dogy-price">0</h4>
        </div>
        <div class="stock fxgl">
            <h3>FXGL</h3>
            <h4 id="fxgl-price">0</h4>
        </div>
    </div>
    <footer>2025 lilycatgirl</footer>
</body>

<style>
    @font-face {
        font-family: GenJyuuGothic;
        src: url(https://okayucdn.com/assets/fonts/GenJyuuGothic.ttf);
    }
    body {
        font-family: GenJyuuGothic;
        background-color: black;
        color: white;
        overflow: hidden;
    }
    footer {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 8px;
    }
    .title {
        text-align: center;
        font-size: 3rem;
    }
    .stocks {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
    }
    .stocks .stock h3 {
        font-size: 2.5rem;
        margin: 0;
    }
    .stocks .stock h4 {
        font-size: 4rem;
        margin: 0;
    }

    @media screen and (max-width: 600px) {
        .stocks {
            display: block;
        }
    }
</style>

<script>
    let last_prices = {
        neko: 0,
        dogy: 0,
        fxgl: 0
    };
    let first = true;

    function UpdatePrices() {
        const d = new Date();
        if (d.getMinutes() % 5 != 0 && d.getSeconds() > 10 && !first) return setTimeout(UpdatePrices, 1000);

        fetch(
            '/api/stock'
        ).then(async data => {
            setTimeout(UpdatePrices, first?6000:5*60000);
            const json = await data.json();

            document.querySelector('#neko-price').innerHTML = (last_prices.neko<json.neko?'↑':last_prices.neko>json.neko?'↓':'⇅') + ' ' + json.neko;
            document.querySelector('#dogy-price').innerHTML = (last_prices.dogy<json.dogy?'↑':last_prices.dogy>json.dogy?'↓':'⇅') + ' ' + json.dogy;
            document.querySelector('#fxgl-price').innerHTML = (last_prices.fxgl<json.fxgl?'↑':last_prices.fxgl>json.fxgl?'↓':'⇅') + ' ' + json.fxgl;

            if (!first) {
                document.getElementById('neko-price').style.color = last_prices.neko<json.neko?'#0f0':last_prices.neko>json.neko?'#f00':'#55e';
                document.getElementById('dogy-price').style.color = last_prices.dogy<json.dogy?'#0f0':last_prices.dogy>json.dogy?'#f00':'#55e';
                document.getElementById('fxgl-price').style.color = last_prices.fxgl<json.fxgl?'#0f0':last_prices.fxgl>json.fxgl?'#f00':'#55e';
            } else first = false;

            document.title = `
                ${last_prices.neko<json.neko?'UP':last_prices.neko>json.neko?'DOWN':'NC'} ${json.neko} | 
                ${last_prices.dogy<json.dogy?'UP':last_prices.dogy>json.dogy?'DOWN':'NC'} ${json.dogy} | 
                ${last_prices.fxgl<json.fxgl?'UP':last_prices.fxgl>json.fxgl?'DOWN':'NC'} ${json.fxgl} | 
                okabot live stock view
                `;

            last_prices.neko = json.neko;
            last_prices.dogy = json.dogy;
            last_prices.fxgl = json.fxgl;

            const title = document.getElementById('title');
            title.innerHTML = 'okabot live stock view';
            title.style.color = '#fff';
        }).catch(err => {
            const title = document.getElementById('title');
            title.innerHTML = 'DISCONNECTED!';
            title.style.color = '#f00';

            document.title = 'DISCONNECTED | okabot live stock view'

            setTimeout(UpdatePrices, 1000);
        });
    }
    

    UpdatePrices();
</script>

</html>